{
    "swagger": "2.0",
    "info": {
        "title": "Kasra API",
        "description": "This is work-in-progress documentation of Kasra API",
        "version": "0.0.1"
    },
    "host": "kasraty.org",
    "schemes": [
        "http"
    ],
    "basePath": "/api",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/articles/newest": {
            "get": {
                "summary": "Get newest articles",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of newest articles to skip",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    }
                ],
                "tags": [
                    "Articles"
                ],
                "responses": {
                    "200": {
                        "description": "An array of articles",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Article"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/articles": {
            "post": {
                "summary": "Create or update article. To update article, make sure it's slug or _id is present in the body",
                "tags": [
                    "Articles"
                ],
                "responses": {
                    "201": {
                        "description": "Created or updated article",
                        "schema": {
                            "$ref": "#/definitions/Article"
                        }
                    },
                    "400": {
                        "description": "Body empty or validation failed",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/article/{id}": {
            "get": {
                "summary": "Get article by slug or id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Slug or id of article to be retrieved",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Articles"
                ],
                "responses": {
                    "200": {
                        "description": "Article",
                        "schema": {
                            "$ref": "#/definitions/Article"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Article": {
            "properties": {
                "title": {
                    "type": "string",
                    "description": "Article title"
                },
                "secondaryTitle": {
                    "type": "string",
                    "description": "Secondary title"
                },
                "slug": {
                    "type": "string",
                    "description": "Unique identifier of article, used in api and url"
                },
                "status": {
                    "type": "string",
                    "description": "Current article state"
                },
                "publishDate": {
                    "type": "string",
                    "description": "Date when the article was published"
                },
                "body": {
                    "type": "array",
                    "description": "Article content, consists of sections",
                    "items": {
                        "$ref": "#/definitions/Section",
                        "description": "Section object, attributes vary depending on type"
                    }
                }
            }
        },
        "Section": {
            "properties": {
                "type": {
                    "type": "string",
                    "description": "Section type"
                },
                "content": {
                    "type": "string",
                    "description": "Section content"
                },
                "headline": {
                    "type": "string",
                    "description": "Optional headline"
                },
                "source": {
                    "type": "string",
                    "description": "Optional source"
                }
            }
        },
        "Error": {
            "properties": {
                "error": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}